.navbar{
    border-bottom:1px solid #e2e2e2;
    position: sticky !important;
    top: 0;
    right: 0;
    z-index: 50;
    /* overflow: hidden; */
    background-color: rgba(255, 255, 255, 0.79);
    backdrop-filter: blur(30px);
}
/* .navbar::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(0, 140, 255, 0.564);
} */
.nav-link.active{
    color: rgb(0, 140, 255) !important;
    position: relative;
    overflow: hidden;
}
.nav-link.active::after{
    content: '';
    width: 20px;
    height: 20px;
    background-color:rgba(0, 140, 255, 0.564);
    border-radius: 50%;
    position: absolute;
    bottom: -16px;
    margin:0 auto;
    left: 0;
    right: 0;
    /* box-shadow: 0 0 10px rgba(0, 140, 255, 0.404); */
}

/* NotificationManager.info('Info message'); */